*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    font-family: 'Source Sans Pro', sans-serif;

}

.header__logo{
    width: 16em;
}

.contenedor__principal{
    width: 100%;
}

.titulo__principal{
    margin: 0;
    padding: 0.5em 1em;
    font-size: 30px;
    background-color: darkslategrey;
    color: antiquewhite;
    text-align: center;
    text-shadow: 1px 1px .3em black;
}

.contenedor__articulo, 
.contenedor__articuloSecundario{
    display: flex;
    flex-direction: column;
}
.contenedor__articulo p, 
.contenedor__articuloSecundario p{
    padding: .5em 1em;
    font-size: 1.1em;
    font-weight: bold;
}

.contenedor__articulo div{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contenedor__articulo div img{
    width: 100%;
}

.contenedor__articulo__img{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contenedor__articulo div a{
    width: 100%;
    height: 100%;
    padding: .5em;
    font-size: 1.1em;
    color: antiquewhite;
    font-weight: bold;
}

.contenedor__articuloSecundario h2{
    padding: .5em 1em;
    font-size: 30px;
    background-color: darkslategrey;
    color: antiquewhite;
    text-align: center;
    text-shadow: 1px 1px .3em black;
}

.imagenes{
    width: 100%;
}

.pie__pagina{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.pie__pagina__img{
    margin: 1em 0;
}

@media screen and (min-width: 576px) {
    .contenedor__articulo{
        max-width: 50em;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25em;
        align-items: center;
    }

    .contenedor__articulo div{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contenedor__articulo p{
        width: 100%;
        margin: 0;
        font-size: 1.3em;
        
    }
    .contenedor__secundario{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
    }


    .contenedor__articuloSecundario{
        margin-bottom: 2em;
        border: 1px solid darkslategray;
    }
    .contenedor__imagen{
        border: none;
        text-align: center;
    }
}

@media screen and (min-width: 992px){
    .contenedor__secundario{
        grid-template-columns: repeat(3, 1fr);
    }
    .header__logo{
        width: 100%;
    }
}